:root {
  --dark-yellow: rgb(255, 204, 1);
  --dark-red: rgba(222, 27, 27, 1);
  --dark-grey: rgba(54, 53, 55, 1);
  --dark-grey-button: rgba(54, 53, 55, 0.7);
  --hover-grey: rgba(54, 53, 55, 0.4);
  --hover-yellow: rgba(255, 204, 1, 0.2);
}
