@import '../shared.css';

.home-body {
  display: grid;
  align-items: center;
  justify-items: center;
}

.ui.button.start-button {
  margin-bottom: 60px;
  padding: 8px 0 8px 0;
  width: 300px;
  font-size: 18pt;
  background-color: var(--dark-red);
  color: var(--dark-grey-button);
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 6px -6px black;
}

.ui.button.start-button:hover {
  background-color: rgb(218, 84, 84);
}
