@import '../palette.css';

.parcel-list-body {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 12pt;
}

.filter-and-search {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.live-search-field {
  flex-grow: 1;
  height: 38px;
  padding: 0;
  margin-right: 8px;
  border-radius: 0.28571429rem;
  -webkit-border-radius: 0.28571429rem;
  -moz-border-radius: 0.28571429rem;
  -ms-border-radius: 0.28571429rem;
  -o-border-radius: 0.28571429rem;
}

.ui.labeled.icon.button {
  max-width: 25%;
  flex-grow: 1;
  max-height: 36px;
}

.ui.labeled.icon.button,
.ui.labeled.icon.buttons .button {
  position: relative;
  padding-left: 48px !important;
}

.sort-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8px;
}

.ui.button.s-button {
  padding-left: 8px;
  padding-right: 8px;
  flex-grow: 1;
}

.ui.button.sc-button {
  margin-right: 0.52em;
  margin-left: 0.26em;
}
