@import '../shared.css';

@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');

.nav-bar {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: var(--dark-red) !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: var(--dark-red) !important;
}

.header-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-link {
  display: contents;
}

.app-name {
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-weight: 200;
  font-size: 36pt;
  margin: 0 0 0 8px;
}

.theme-toggle {
  display: flex;
  margin-right: 8px;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .app-name {
    font-size: 46pt;
  }
}
